<div class="container">
    <div class="row align-items-center">
        <div class="col-12 col-sm-4 col-lg-2 align-items-center">
            <a href="/src/index.html">
                <img src="/src/assets/images/logo.png" alt="Logo UOC" class="img-fluid" style="max-height: 60px;">
            </a>
        </div>
        <div class="col-12 col-sm-8 col-lg-10">
            <nav>
                <ul class="nav justify-content-md-end">
                    <li class="nav-item">
                        <a class="nav-link text-secondary fs-4" href="/src/ponentes.html">
                            Page Two
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary fs-4" href="/src/noticias.html">
                            Page Three
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary fs-4" href="/src/galeria.html">
                            Page Four
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>